<app-user-nav></app-user-nav>

<div class="container-fluid">
    <div class="row">
        <div *ngFor="let dish of menu" class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{dish.dishName}}</h5>
                  <p class="card-text">{{dish.description}}</p>
                  <p class="card-text">{{dish.price | currency: 'INR'}}</p>
                  <button *ngIf="dish.quantity==null || dish.quantity==0; else elseBlock" type="button" class="btn btn-primary" (click)="addItem(1, dish)">Add to cart</button>
                  <ng-template #elseBlock>
                    <button type="button" class="btn btn-primary" (click)="addItem(-1, dish)">-</button>
                    {{dish.quantity}}
                    <button type="button" class="btn btn-primary" (click)="addItem(1, dish)">+</button>
                  </ng-template>
                </div>
              </div>
        </div>
    </div>
</div>