
<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Stay Hungry</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a routeLink="/user/home">Home</a></li>
      <li data-toggle="modal" data-target="#myModal"><a>Current Address</a></li>
      <li><a href="">Profile</a></li>
    </ul>
    <div class="navbar-form navbar-right" >
      <div class="input-group mb-3">
          <input type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="basic-addon1">
        <div class="input-group-btn">
          <button class="btn btn-primary" type="button">
            <i class="glyphicon glyphicon-search"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div *ngFor="let dish of menu" class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{dish.dishName}}</h5>
                  <p class="card-text">{{dish.description}}</p>
                  <p class="card-text">{{dish.price}}</p>
                  <a href="#" class="btn btn-primary">Add to cart</a>
                </div>
              </div>
        </div>
    </div>
</div>