<!-- <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand">Stay Hungry</a>
      </div>
      <ul class="nav navbar-nav">
        <li ><a [routerLink]="['/seller/home']">Home</a></li>
        <li data-toggle="modal" data-target="#myModal"><a>Add dish</a></li>
        <li><a [routerLink]="['/seller/profile']">Profile</a></li>
        <li><a [routerLink]="['/seller/orders']">Orders</a></li>
      </ul>
      <div class="navbar-form navbar-right" >
        <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Search" aria-label="search" aria-describedby="basic-addon1">
          <div class="input-group-btn">
            <button class="btn btn-primary" type="button">
              <i class="glyphicon glyphicon-search"></i>
            </button>
          </div>
        </div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">

    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog">
        
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal">&times;</button>
              <h4 class="modal-title">Add Dish</h4>
            </div>
            <div class="modal-body">
                <form [formGroup]="addDishForm" >
                    <div class="form-group">
                        <label for="dishName">Dish Name:</label>
                        <input type="text" class="form-control" formControlName="dishName" placeholder="Enter Dish Name" id="dishName">
                        <p *ngIf="addDishForm.controls.dishName.invalid && addDishForm.controls.dishName.dirty" class="alert alert-danger">This field is required!</p>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <input type="text" class="form-control" formControlName="description" placeholder="Enter description" id="description">
                        <p *ngIf="addDishForm.controls.description.invalid && addDishForm.controls.description.dirty" class="alert alert-danger">This field is required!</p>
                    </div>
                    <div class="form-group">
                        <label for="price">Price</label>
                        <input type="number" class="form-control" formControlName="price" placeholder="Enter price" id="price">
                        <p *ngIf="addDishForm.controls.price.invalid && addDishForm.controls.price.dirty" class="alert alert-danger">This field is required!</p>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="addDish()">Add dish</button>
            </div>
          </div>
    
        </div>
      </div>

  </div> -->

  <app-seller-nav></app-seller-nav>

  <div class="container-fluid">
    <div class="row">
        <div *ngFor="let dish of menu" class="col-md-3">
            <div class="card" style="width: 18rem;">
                <img class="card-img-top" src="..." alt="Card image cap">
                <div class="card-body">
                  <h5 class="card-title">{{dish.dishName}}</h5>
                  <p class="card-text">{{dish.description}}</p>
                  <p class="card-text">{{dish.price | currency: 'INR'}}</p>
                  <button type="button" class="btn btn-primary">Over</button>
                </div>
              </div>
        </div>
    </div>
</div>