<app-user-nav></app-user-nav>
<div class="container-fluid row col-md-8 col-md-offset-2">
    <div class="panel panel-default">
    <div class="panel-heading">Cart</div>
    <div *ngFor="let item of cartItems" class="panel-body">
        <div class="row text-center">
            <div class="col-md-4">
                {{item.dish.dishName}}
            </div>
            <div class="col-md-4">
                <button class="btn btn-primary" >-</button>
                {{item.quantity}}
                <button class="btn btn-primary">+</button>
            </div>
            <div class="col-md-4">
                {{item.dish.price | currency:'INR'}}
            </div>
        </div>
    </div>
    </div>
</div>
