<app-user-nav></app-user-nav>
<div class="container-fluid row col-md-8 col-md-offset-2">
    <div class="panel panel-default">
        <div class="panel-heading"><h4 class="text-center">Cart</h4></div>
        <div *ngIf="cartItems!=null && cartItems.length!=0;else elseBlock">
          <div class="panel-body">
            <table class="table table-borderless">
              <thead>
                <tr>
                  <th scope="col">seller name</th>
                </tr>
              </thead>
                <tbody>
                  <tr *ngFor="let item of cartItems"class="text-center">
                    <td>{{item.dishName}}</td>
                    <td><button class="btn btn-defalut" (click)="addItem(-1,item)">-</button>
                      {{item.quantity}}
                      <button class="btn btn-defalut" (click)="addItem(1,item)">+</button></td>
                    <td>{{item.price*item.quantity | currency: 'INR'}}</td>   
                  </tr>
                </tbody>
            </table>
          </div>
          <div class="panel-footer">
            <div class="row">
              <p class="col-sm-6">Delivery Address: {{currAddress.addressLine1+','+currAddress.addressLine2+','+currAddress.city}}</p>
              <p class="col-sm-4 col-sm-offset-2">Total price: {{totalPrice | currency: 'INR'}}</p>
            </div>
          </div>
        </div>

        <ng-template #elseBlock>
          <div class="panel-body">
            <h4 class="text-center">No item in cart</h4>
          </div>
      </ng-template>
  </div>

  <div id="locButton">
    <button class="btn btn-primary" data-toggle="modal" data-target="#myModal">Location</button>
  </div>
</div>

<div class="row">
  <button class="btn btn-primary col-sm-4 col-sm-offset-4" type="button" (click)="placeOrder()" [disabled]="this.cartItems==null || this.cartItems.length==0">Place order</button>
</div>

<div class="container-fluid">

  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">Current Address</h4>
          <p *ngIf="currAddress!=null">{{currAddress.addressLine1 + ',' +currAddress.addressLine2 + ',' + currAddress.city}}</p>
        </div>
        <div class="modal-body">
          <div *ngFor="let address of addresses">
            <div class="radio">
              <label>
                <input type="radio" [checked]="address==currAddress" name="optradio" (change)="updateTempCurrAdd(address)">{{address.addressLine1 + ',' +address.addressLine2 + ',' + address.city}}
              </label>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-dismiss="modal" (click)="updateCurrAddress()" >update</button>
        </div>
      </div>

    </div>
  </div>
  </div>

