<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand">Stay Hungry</a>
    </div>
    <ul class="nav navbar-nav text-center">
      <li><a [routerLink]="['/user/login']">User Login</a></li>
      <li><a [routerLink]="['/seller/login']">Seller Login</a></li>
    </ul>
  </div>
</nav>

<div class="container-fluid">
    <div class="row">
  
      <div class="col-sm-6 col-sm-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h1>Register</h1>
        </div>
        <div class="panel-body">
          <form [formGroup]="registerForm" (ngSubmit)="register()">
            <div class="form-group">
              <label for="email">Email</label>
              <input type="text" class="form-control" formControlName="email" placeholder="Enter your email" id="email">
              <p *ngIf="registerForm.controls.email.invalid && registerForm.controls.email.dirty" class="alert alert-danger">This field is required!</p>
            </div>
            <div class="form-group">
                <label for="sName">Name</label>
                <input type="text" class="form-control" formControlName="sName" placeholder="Enter your name" id="sName">
                <p *ngIf="registerForm.controls.sName.invalid && registerForm.controls.sName.dirty" class="alert alert-danger">This field is required!</p>
              </div>
            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" class="form-control" formControlName="password" placeholder="Enter your password" id="password">
                <p *ngIf="registerForm.controls.password.invalid && registerForm.controls.password.dirty" class="alert alert-danger">This field is required!</p>
            </div>
            <div class="form-group">
                <label for="phoneNumber">Phone No.</label>
                <input type="number" class="form-control" formControlName="phoneNumber" placeholder="Enter your phoneNumber" id="phoneNumber">
                <p *ngIf="registerForm.controls.phoneNumber.invalid && registerForm.controls.phoneNumber.dirty" class="alert alert-danger">This field is required!</p>
            </div>
            <div class="row">
              <button type="submit" class="btn btn-default col-sm-8 col-sm-offset-2">Register</button>
            </div>
        </form>
        </div>
      </div>
      </div>
  
    </div>
  </div>
  